@import "GlobalCSS.css";
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ff733c;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 20vw));
  gap: 4vw;
  padding: 4vw;
}

.box {
  aspect-ratio: 1/1;
  border: 2px solid #ffb994;
  padding: 10px 10px;
  border-radius: 12px;
  transition: 0.2s;
  background-color: #ffb994;
  align-items: center;
  justify-content: center;
  max-height: 70%;
  object-fit: contain;
  display: block;
}

.box:hover {
  background-color: var(senior-orange);
}

.box img {
  aspect-ratio: 1/1;
  height: 100%;
}
